[submodule "src-node"]
	path = src-node
	url = https://github.com/codigonet/docker-node-demo
[submodule "src-flask"]
	path = src-flask
	url = https://github.com/codigonet/docker-python-demo
[submodule "src-dynamo"]
	path = src-dynamo
	url = https://github.com/codigonet/docker-dynamodb-demo
